body{
  background-color: lightblue;
  width: 50%;
  max-width: 800px;
  min-width: 480px;
  margin: 0 auto;
  margin-top: 100px;
}

h1{
  background-color: blueviolet;
  color: white;
  text-align: center;
}

p{
  color: chartreuse;
  background-color: tomato;
  text-align: center;
  font-family: verdana;
  font-size: 50px;
}

#botaoEnviar{
  color: white;
  text-align: center;
  /* margin-left: 50%; */
  margin-right: 50%;
  background-color: rgb(20, 153, 194);
}

#botaoCancelar{
  color: white;
  text-align: center;
  margin-left: 50%;
  background-color: rgb(226, 75, 15);
}


#cabecalho{
  text-align: center;
  color: white;
  background-color: slategray;
}

#rodape{  
  color: azure;
  background-color: black;
  text-align: justify;
}

/* a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
} */
